body{
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
}

strong{
  color: #CF3C8F;
}

.offscreen{
  position: absolute;
  height: 1px;
  width: 1px;
  text-indent: -99999999px;
}

.reveal section img{
  border: none;
}

.right{
  float: right;
  margin-left: 1em;
}

.left{
  float: left;
  margin-right: 1em;
}

.half{
  width: 48%;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6{
/*  color: #cf2c47;
*/ 
 font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #000;
  color: #CF3C8F;
}

.reveal a:not(.image){
/*  color: #f59d16; */
  color: #02BDB5;

}
.reveal a:not(.image):hover{
  color: #018B85;
}

.reveal small{
  font-size: .8em;
}

.reveal ul li,
.reveal p {
  padding-bottom: 0.5em;
  line-height: 1.5em;
}

.reveal p.intro-slide {
  padding-top: 18em;
}
.reveal pre code {
  margin-bottom: 2em;
  font-size: 1.25em;
  line-height: 1.15em;
}

